<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
	<head>
		<title>Strona główna</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="angular.js"></script>
		<script src="script.js"></script>
		<link rel="stylesheet" href="https://raw.githubusercontent.com/cgross/angular-busy/master/dist/angular-busy.min.css">
		<script src="https://raw.githubusercontent.com/cgross/angular-busy/master/dist/angular-busy.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<div ng-controller="myController" class="container"> 
			<div cg-busy="{promise:loading,wrapperClass: 'loading'}"></div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" ng-click="changeView('indexView')">Strona główna</a>
					</div>
					<form class="navbar-form" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Szukaj książki..." ng-model="value">
						</div>
						<button type="submit" class="btn btn-default" ng-click="showSearchResults(value)">Szukaj</button>
					</form>
				</div>
			</nav>

			<div ng-switch="currentView">
				<div ng-switch-when="indexView">
					<h3 class="text-center">12 książek o II Wojnie Światowej.</h3>

					<div class="row">
						<div class="col-md-3" ng-repeat="book in indexBooks.works">
							<div class="thumbnail" style="min-height:400px;height:400px;" ng-click="goToBook(book, false)">
								<img ng-src="{{ book.cover_edition_key ? urlImage + book.cover_edition_key + smallImage : smallNoImage }}" alt="{{book.title}}" style="max-height:150px;">
									<div class="caption">
									<h3>{{book.title | limitTo:70}}</h3>
									<p>
										<ul class="list-inline">
											<li ng-repeat="author in book.authors">{{author.name}}</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="searchBooksView">
					<h3 class="text-center">Szukany ciąg znaków: <em>{{search}}</em>.</h3>

					<div class="row text-center" style="margin-bottom:20px;">
						<button class="btn btn-default" type="button" ng-click="previousPage()" ng-show="page != 1">Poprzednia strona</button>
						<button class="btn btn-default" type="button" ng-click="nextPage()" ng-show="page != pages">Następna strona</button>
					</div>

					<div class="row">
						<div class="col-md-3" ng-repeat="book in searchBooks.docs">
							<div class="thumbnail" style="min-height:400px;height:400px;" ng-click="goToBook(book)">
								<img ng-src="{{ book.cover_edition_key ? urlImage + book.cover_edition_key + smallImage : smallNoImage }}" alt="{{book.title_suggest}}" style="max-height:150px;">
									<div class="caption">
									<h3>{{book.title_suggest | limitTo:70}}</h3>
									<p>
										<ul class="list-inline">
											<li ng-repeat="author in book.author_name">{{author}}</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row text-center">
						<button class="btn btn-default" type="button" ng-click="previousPage()" ng-show="page != 1">Poprzednia strona</button>
						<button class="btn btn-default" type="button" ng-click="nextPage()" ng-show="page != pages">Następna strona</button>
					</div>
				</div>
				<div ng-switch-when="bookView">
					<button class="btn btn-default" type="button" ng-click="back()" ng-show="{{isBack}}">Wróć do wyników wyszukiwania</button>
					<div class="row text-center">
						<img ng-src="{{ cover_edition_key ? urlImage + cover_edition_key + bigImage : bigNoImage }}" alt="{{currentBook.title}}">
						<h1>{{currentBook.title}}</h1>
						<p>
							<ul class="list-inline">
								<li ng-repeat="author in authors">{{author.name ? author.name : author}}</li>
							</ul>
						</p>
						<hr>
						<p>Opublikowane przez:
						<ul class="list-inline">
							<li ng-repeat="publisher in currentBook.publishers">{{publisher}}</li>
						</ul></p>
						<p>Wydano: {{currentBook.publish_date}}</p>
						<p>Liczba stron: {{currentBook.number_of_pages}}</p>
					</div>
				</div>
			</div>
			<div class="text-center" style="margin-bottom:20px;">
				<p>Tomasz Pisarczyk | Strona wykorzystuje API openlibrary.org.</p>
			</div>
		</div>

	</body>
</html>